#venv
venv/
.venv/
env/

#python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

#keys
.env
.env.*
!.env.example

#ide
.idea/
.vscode/
*.swp
*.swo

#OS
.DS_Store
Thumbs.db
